@font-face {
	src: url(../fonts/ProximaNova/ProximaNova-Regular.woff);
	font-family: ProximaNovaReg;
}

@font-face {
	src: url(../fonts/ProximaNova/ProximaNova-Bold.otf);
	font-family: ProximaNovaBold;
}

@font-face {
	src: url(../fonts/ProximaNova/ProximaNova-Light.woff);
	font-family: ProximaNovaLight;
}

@font-face {
	src: url(../fonts/Roboto/Roboto-Light.woff);
	font-family: RobotoLight;
}

@font-face {
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
	font-family: RobotoRegular;
}

html {
	size: 10px;
}

body {

}

.header {
	background-color: #f7c61d;
	height: 65px;
}

.box {
	padding-left: 90px;
	padding-right: 90px;
}

.header nav {
	display: flex;
	line-height: 65px;
	justify-content: space-around;
}

.header nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: ProximaNovaReg, sans-serif;
	color: #000000;
	font-size: 16px;
	transition: color 0.4s
}

.header nav a:hover {
	color: #fff;
}

main {
	display: inline-block;
	width: 79%;
}

aside {
	display: inline-block;
	width: 20%;
}

.article {
	display: flex;
	margin: 20px 0;
	padding-bottom: 30px;
	padding-right: 60px;
}

main {
	border-right: 1px solid #dcdcdc;
}

.article-img {
	position: relative;
	border-radius: 5px;
	flex: 0 0 30%;
	overflow: hidden;
}

.article-img img {
	position: absolute;
	width: 100%;
	height: auto;
	border-radius: 5px;	
	transition: transform .4s ease-in;
}

.article-img img:hover {
	transform: scale(1.2);
}

.article-content {
	flex: 0 0 70%;
	padding-left: 25px;
}

.article-content h3 {
	margin-top: -3px;
	font-family: ProximaNovaLight, sans-serif;
	font-size: 30px;
	text-transform: capitalize;
}

.article-content h3:hover {
	color: #f7c61d;
	cursor: pointer;
}

.article-content h5 {
	font-family: RobotoLight, sans-serif;
	font-size: 13px;
	color: #b4b4b4;
}

.article-content p {
	font-family: ProximaNovaLight, sans-serif;
	font-size: 16px;
}

.header-middle {
	font-family: ProximaNovaBold;
}

.article-content h5 span a {
	color: orange;
	text-decoration: none;
}

.article-content p span  {
	color: orange;
}

.icons p i {
	display: inline-block;
	padding-right: 7px;
	font-size: 13px;
	color: #b4b4b4;
}


.btn {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.btn a input {
	height: 43px;
	width: 171px;
	background-color: #fff;
	border: 1.5px solid #f8cc33;
	border-radius: 5px;
	font-family: RobotoLight, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.btn a input:hover {
	background-color: #f7c61d;
	color: #fff;
}

.footer {
	display: flex;
	justify-content: space-around;
	height: 47px;
	width: 100%;
	background-color: #f8cc33;
	z-index: 998;
}

.footer p {
	font-family: ProximaNovaLight, sans-serif;
	font-size: 13px;
	color: #a78613;
	line-height: 23px;
}

.footer a {
	font-family: RobotoRegular, sans-serif;
	font-size: 14px;
	line-height: 47px;
	text-decoration: none;
	color: #111;
	padding-right: 25px;
}

.footer a:hover {
	color: #fff;
}


.social i {
	background-color: #fff;
	color: #f8cc33;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
}

.social i:hover {
	background-color: #f8cc33;
	color: #fff;
	border: 1px solid #fff;
}


input {
	outline: 0;
  height: 20px;
  border: none;
}

i.fas {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}

i.fas + input {
  padding-left: 26px;
}

.search {
	padding-left: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	font-family: RobotoRegular, sans-serif;
	font-size: 14px;
}

aside {
	display: block;
	float: right;
	padding-top: 60px;
}

aside h4 {
	font-family: ProximaNovaBold, sans-serif;
	font-size: 18px;
}

.aside {
}

.aside-content h5 {
	font-family: RobotoRegular, sans-serif;
	font-size: 12px;
	color: #999999;
}

.aside-content a {
	text-decoration: none;
}

.aside-content p {
	color: #000;
	font-family: RobotoRegular, sans-serif;
	font-size: 16px;
	margin-top: -15px;
}

.aside-content p:hover {
	color: #f7c61d;
}