<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_main.css">
	<link rel="stylesheet" href="css/reset.css">
</head>
<body>
	<header class="header box">
		<nav>
			<a href="slider.html">Слайдер</a>
			<h1>Богдан Швороб - сайт-візитка</h1>
		</nav>
	</header>


	<div class="wrapper">
		<div class="left">
			<img src="img/1.jpg"
				 alt="user" width="100">
			<h3>Богдан</h3>
			<h4>Швороб</h4>
		</div>
		<div class="right">
			<div class="info">
				<div class="info_data">
					<div class="data">
						<h4>email</h4>
						<p>b.shvorob@gmail.com</p>
					</div>
					<div class="data">
						<h4>phone</h4>
						<p>+380953037230</p>
					</div>
				</div>
			</div>

			<div class="projects">
				<h3>Більше інформації</h3>
				<a href="">LinkdIn</a>
				<a href="">Telegram</a>
				<div class="projects_data">

					<div class="card" th:each="card : ${cards}">
						<h2 th:text="${card.name}"></h2>
						<h2 th:text="${card.number}"></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/script.js"></script>
</body>
</html>
